@import 'styles/fonts.module.scss';
@import 'styles/flex.module.scss';

.wrapper {
  margin: 0rem;
  padding: 1rem;
}

.leaseTrackerContainer {
  margin: 1rem;
}

.paymentButtonContainer {
  @extend .flexRow;
  flex: 10;
}

.paymentCustomButton {
  background-color: #f9c4cf!important;
  border: none!important;
  color: black!important;
}

.icon {
  font-size: 1.2rem !important;
  margin-right: 0.4rem !important;
}

.activityContainer {
  @extend .flexRow;
  flex: 4;
  align-items: center;
  justify-content: right;
}

.activity {
  @extend .fontsAb;
  margin-left: 4px;
  align-self: self-end;
  margin-bottom: 1.45rem;
  font-size: 0.9rem;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #6700d7;
  display: inline-block;
}

.footerContainer {
  @extend .flexRow;
}

@media screen and (max-width: 770px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .paymentCustomButton {
    height: 3.5rem!important;
  }
  .flexRow {
    justify-content: center;
    align-items: center;
  }
}
