.posterLoaderContainer {
    overflow: hidden;
  }
  
  .posterLoaderRow {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .posterLoaderCol {
    width: 210px;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .posterLoaderImage {
    background-color: #b0aea9;
    width: 210px;
    height: 118px;
  }
  
  .posterLoaderText {
    padding-top: 0.5rem;
  }
  
  .posterLoaderTitle {
    background-color: #b0aea9;
    height: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .posterLoaderDescription {
    background-color: #b0aea9;
    width: 60%;
    height: 1rem;
  }
  